body {
  background-color: $color-light;
  font-family: Montserrat;
  padding: 0;
  margin: 0;
}

.container {
  display: inline-flex;
  width: 100%;

  &-inner {
    margin: 0 5%;
  }
}

.center {
  justify-content: space-between;
  align-content: center;
}
a{
  color:$color-black;
}
