body{
  background-color: $color-light;
  font-family: Montserrat;
}
.container{
  display: inline-flex;
  width: 100%;
  &-inner{
    margin: 0 5%;
  }
}
.center{
  justify-content: space-between;
  align-content: center;
}
