<div class="vote">
  <div class="vote--inner">
    <div class="pt-4">
      <ul class="uppercase">
        <a href="" routerLink="test">
          <li>overview</li>
        </a>
        <a href="">
          <li>posts</li>
        </a>
        <a href="">
          <li>comments</li>
        </a>
        <a href="">
          <li>saved</li>
        </a>
        <a href="">
          <li>hidden</li>
        </a>
        <a href="">
          <li>upvoted</li>
        </a>
        <a href="">
          <li>downvoted</li>
        </a>
        <a href="">
          <li>award selected</li>
        </a>
        <a href="">
          <li>award given</li>
        </a>
      </ul>
    </div>
  </div>
</div>
