@import "variable";
.inputbox{
  font-family: $font-stack;
  //font-weight: nor;
  background-color: $color-white;
  width: $input-width;
  margin:0 0 0 20px;
  border-radius: $border;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &--search{
  }
}
