@import "variable";

.btn{
  display: inline-flex;
  cursor: pointer;
  color: $color-text;
  text-align: center;
  font-weight: normal;
  font-size: $font-sm;
  font-family: $font-stack;
  background-color: transparent;
  width: $btn-width;
  align-items: center;
  &:hover{
    border: solid 1px $color-medium;
    border-radius: $border;
  }
}

