<header>
  <div class="navbar">
    <div class="navbar-inner">
      <a href="">
        <img src="assets/image/logo.png" class="logo" alt="logo">
      </a>
      <div class="btn center">
        <p>User Name</p>
        <div>
          <fa-icon [icon]="faArrowDown"></fa-icon>
        </div>
      </div>
      <input class="inputbox" type="text" id="" name="search" placeholder="Search...">
      <fa-icon [icon]="faChartLine"></fa-icon>
      <fa-icon [icon]="faChartBar"></fa-icon>
      <fa-icon [icon]="faVideo"></fa-icon>
      <fa-icon [icon]="faComment"></fa-icon>
      <fa-icon [icon]="faMailBulk"></fa-icon>
      <fa-icon [icon]="faPen"></fa-icon>
      <div class="btn"> Information</div>
    </div>
  </div>
</header>
